body {
	font-family: 'monaco', sans-serif;
	color: #000000;
	background: #420600 url('img/stardust.png') repeat;
}

a {
	color: #4fb69f;
	text-decoration: none;
}

h1 {
	font-size: 1.650em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}

.btn {
	padding: 15px 30px;
	margin: 40px 0px;
	color: #faf3bc;
	background: #4fb69f url('img/grey_wash_wall.png') repeat;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

.btn:hover {
	background: #000000;
}


.btn-small {
	padding: 10px 25px;
	margin: 50px 0;
	color: #faf3bc;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right bottom;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

.btn-small:hover {
	
	background-color: #000000;
}

.submit-btn {
	padding: 10px 25px;
	margin: 20px 0 50px 0;
	color: #faf3bc;
	font-family: 'monaco', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

ul.nav {
	margin: 0 auto;
	padding: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li.last {
	margin: 0;
	padding: 10px 25px;
	color: #faf3bc;
	font-family: 'monaco', sans-serif;
	border: 0;
	font-weight: 100;
	font-size: .75em;
	background: #b22316 url('texture.png') no-repeat right top;;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-transform: uppercase;
}

ul.nav li.last:hover {
	background-color: #c62718;
}

ul.nav li a {
	color: #faf3bc;
	display: block;
	text-decoration: none;
}

#intro {
	margin: 50px 0 75px 0;
}

#new-cupcakes img {
	border: 8px solid #400000;
	margin: 0 20px 20px 0;
	width: 40%;
	display: inline;
}

#popular-cupcakes img {
	border: 8px solid #faf3bc;
}

#featured-cupcake img {
	border: 8px solid #400000;
	width: 95%;
}

#contact span{
	color: #b22316;
	font-weight: 600;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0;
	margin: 15px 0;
	text-align: center;
}

#copyright img {
	width: 100%;
}

#dr img {
	border: 8px solid #400000;
	width: 100%;
	margin-left: 10px
}

.title-one {
	margin-top: 30px;
	font-size: 2em;
}

.title-two {
	font-size: 3em;
	text-align: center;
	color: #400000;
}
/* #golf img {
	border: 8px solid #000000;
	width: 100%;
	margin: 50px 0px 0px 0px;
}*/
