body {
	font-family: 'monaco', sans-serif;
}

ul.nav {
	display: block;
	list-style: none;
	margin: 40px 0 0 50px;
}

ul.nav li {
	display: inline;
	margin: 0 10px 0 0;
}

ul.nav li a {
	text-decoration: none;
	color: #A9A9A9;
}

ul.nav li.first {
	font-size: 1.5em;
	text-transform: uppercase;
}

ul.nav li.hiring {
  transform: rotate(10deg);
 -ms-transform: rotate(10deg); /* IE 9 */
 -webkit-transform: rotate(10deg); /* Safari and Chrome */
 -o-transform: rotate(10deg); /* Opera */
 -moz-transform: rotate(10deg); /* Firefox */
}

ul.nav li.apply {
	padding: 10px 30px;
	background: #b22316;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}